body, html {
  background-color: #efefef;
}

.row {
  margin: 0;
}

h4, h5, h6, ul, .blog-info, .sidebar {
  text-align: center;
}


/* Nav */

nav {
  position: relative;
  left: 70px;
  background-color: #FAFFFD;
  width: 1763px;
}

.nav-wrapper a {
  position: relative;
  color: black;
  text-align: center;
}

.nav-wrapper li {
  right: 665px;
  position: relative;
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.nav-wrapper li:hover {
  position: relative;
  transition: all 0.25s ease;
  border-bottom: 5px solid #da3d37;
  text-align: center;
}


/* Header */

.header {
  position: relative;
  left: 70px;
  background-position: center top;
  width: 1763px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.header img {
  max-width: 25%;
}


/* Main */

.notification {
  text-align: center;
  background-color: #FA824C;
}

.main {
  padding: 25px 0px 25px 0px;
}

.staff-main .card-panel {
  margin-top: -5px;
}


/* Footer */

#sm{
  position: relative;
  object-position: right;
  text-align: right;
  margin: auto;
  width: 50%;
  padding: 20px;
  left: 560px;
  top: 25px;
}

#h5tag {
  position: relative;
  right: 493px;
}

#about {
  text-align: left;
  position: relative;
  right: 225px;
}


#cp {
  position: relative;
  left: 230px;
  text-align: right;
}
.page-footer {
  position: relative;
  background-color: #342E37;
  color: white;
  width: 1763px;
  left: 70px;
}

.page-footer .footer-copyright {
  background-color: #28232B;
  margin-top: 20px;
}

.page-footer a {
  color: #fff;
  transition: color .2s linear;
}

.page-footer a:hover {
  color: #3C91E6 !important;
}


/* Mobile Stuff */

@media screen and (max-width: 992px) {
  .header img {
    max-width: 50%;
  }
  .footer-content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 993px) {
  .index-main {
    margin: 0px 60px 0px 60px;
  }
}
